<ion-content [fullscreen]="true">
  <ion-fab
    slot="fixed"
    horizontal="center"
    vertical="bottom"
    class="status-story"
  >
    <ion-fab-button class="ifab-btn">
      <ion-icon name="color-wand-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button (click)="onInitialSlide()">
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon
          [name]="!swiperPaused ?  'pause' : 'play'"
          (click)="onPlauPauseSwiper()"
        ></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="hourglass-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>


  <div class="content-progressBar">
    <ion-progress-bar
      *ngFor="let item of api; let i = index"
      [value]="(i === swiperCurrentIndex) ? swiperProgress : 0"
    ></ion-progress-bar>
  </div>

  <!-- Slider main container -->
  <div class="swiper" #swiperElement>
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide" *ngFor="let item of api; let i = index">
        {{item.id}} -- {{i}}
      </div>
    </div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</ion-content>
