<!-- <swiper-container #swiper css-mode="true" init="false">
  <!--
  slides-per-view="1"
  speed="500"
  loop="false"
  [config]="swiperParams"
 - ->
  <swiper-slide>Slide 1</swiper-slide>
  <swiper-slide>Slide 2</swiper-slide>
  <swiper-slide>Slide 3</swiper-slide>
  <swiper-slide>
    width: 100%; height: 100%; display: grid; place-content:
    center;</swiper-slide
  >
  <swiper-slide>Slide 5</swiper-slide>
</swiper-container> -->

<!-- <swiper-container appSwiper [config]="swiperParamsx" init="true" class="w-full">
  <swiper-slide
       *ngFor="let slider of sliders">
       <h1>
          {{slider}}
       </h1>
  </swiper-slide>
</swiper-container> -->

<!-- <swiper-container #swiperRef initial-slide="0" (swiperactiveindexchange)="onActiveIndexChange()" slides-per-view="1">
  <swiper-slide>
    <h1>Slide 1</h1>
  </swiper-slide>
  <swiper-slide>
    <h1>Slide 2</h1>
  </swiper-slide>
  <swiper-slide>
    <h1>Slide 3</h1>
  </swiper-slide>
</swiper-container> -->
<!-- ! THREE -->
<!-- <swiper-container
  #swiper
  init="false"
>
  <swiper-slide *ngFor="let i of [1,2,5,6,7]">
    <h1>Slide {{i}}</h1>
  </swiper-slide>
</swiper-container>
 -->
  <swiper-container class="mySwiper" init="false" #swiper>
    <swiper-slide>Slide 1</swiper-slide>
    <swiper-slide>Slide 2</swiper-slide>
    <swiper-slide>Slide 3</swiper-slide>
    <swiper-slide>Slide 4</swiper-slide>
    <swiper-slide>Slide 5</swiper-slide>
    <swiper-slide>Slide 6</swiper-slide>
    <swiper-slide>Slide 7</swiper-slide>
    <swiper-slide>Slide 8</swiper-slide>
    <swiper-slide>Slide 9</swiper-slide>
  </swiper-container>