<ion-content [fullscreen]="true">
  <!-- <vg-player>
      <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" controls>
          <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerBlazes.mp4" type="video/mp4">
      </video>
  </vg-player> -->


  <!-- ?> Current Video Player <? -- >
  <!-- <ion-progress-bar
    [value]="media.currentTime / media.duration"
  ></ion-progress-bar>
  <vg-player>
    <!-- (onPlayerReady)="videoPlayerInit($event)" -- >
    <vg-overlay-play></vg-overlay-play>

    <vg-controls>
      <vg-mute vgFor="my-video"></vg-mute>
      <vg-play-pause vgFor="my-video"></vg-play-pause>
      <vg-time-display
        vgFor="my-video"
        [vgProperty]="'current'"
        [vgFormat]="'mm:ss'"
      ></vg-time-display>
      <vg-time-display
        vgFor="my-video"
        [vgProperty]="'left'"
        [vgFormat]="'mm:ss'"
      ></vg-time-display>
      <vg-time-display
        vgFor="my-video"
        [vgProperty]="'total'"
        [vgFormat]="'mm:ss'"
      ></vg-time-display>
    </vg-controls>

    <video
      #myMedia
      [vgMedia]="$any(media)"
      #media
      id="my-video"
      type="video/mp4"
      src="https://exit109.com/~dnn/clips/RW20seconds_1.mp4"
      ></video>
      <!-- [src]="url | safeResourceURL" -- >
    <!-- src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerBlazes.mp4" -- >
  </vg-player>

  <ion-button (click)="ngOnInit()" expand="block" fill="clear" shape="round">
    One
  </ion-button> -->

  <!-- <app-videoplayer></app-videoplayer> -->
  <!-- <app-vd-plater></app-vd-plater> -->
  <app-end></app-end>

</ion-content>
