<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <swiper-container slides-per-view="2" speed="500" loop="true" css-mode="true"> -->
  <!-- <swiper-container init="false" #swiper [config]="swiperParams"> -->
    <swiper-container init="false" #swiper css-mode="true"

    >
    <!--
      virtual="true"
      slides-per-view="3" speed="500" loop="true"
      [config]="params"
     -->
    <!-- [pagination]="{ clickable: true } -->
    <!-- [navigation]="{ nextEl: '.swiper-button-next', prevEl: '.swiper-button-prev' }" -->

    <swiper-slide>One XXX</swiper-slide>
    <swiper-slide>Slide 2 - YYY</swiper-slide>
    <swiper-slide>Slide 3</swiper-slide>
    <swiper-slide>Slide 4</swiper-slide>
    <swiper-slide>Slide 5</swiper-slide>
    <swiper-slide>Slide 6</swiper-slide>
    <swiper-slide>Slide 7</swiper-slide>

<!--     <swiper-pagination></swiper-pagination>
    <swiper-navigation prevEl=".swiper-button-prev" nextEl=".swiper-button-next"></swiper-navigation> -->
  </swiper-container>

  <ion-button (click)="onTest()" expand="block" fill="clear" shape="round">
    TEST
  </ion-button>

  <ion-button (click)="onUpdate()" expand="block" fill="clear" shape="round">
    Update
  </ion-button>

  <ion-button (click)="onSlideNext()" expand="block" fill="clear" shape="round">
    Next
  </ion-button>
</ion-content>
