<ion-content [fullscreen]="true">
  <!-- Slider main container -->
  <div class="swiper" #swiperElement>
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide" *ngFor="let item of story_adds; let ii = index">
        <ng-container [ngSwitch]="item.type">
          <section *ngSwitchCase="'image'" class="image-section">
            <div class="play_pause" (click)="togglePauseResume()">
              <ion-icon name="play" *ngIf="isPaused$.value"></ion-icon>
              <ion-icon name="pause" *ngIf="!isPaused$.value"></ion-icon>
              <!-- <ion-icon *ngIf="isEnded$.value" name="refresh"></ion-icon> -->
            </div>

            <div class="next_prev">
              <ion-icon
                (click)="onPrev()"
                class="prev"
                name="arrow-back-outline"
              ></ion-icon>
              <ion-icon
                (click)="onNext()"
                class="next"
                name="arrow-forward-outline"
              ></ion-icon>
            </div>

            <header class="firsth">
              <div class="actions">
                <ion-icon name="apps"></ion-icon>
                <ion-icon name="close-circle-outline"></ion-icon>
              </div>

              <!-- progress array per current index presentation-->
              <!-- *ngFor="let progress of item.progress; let i = index" -->
              <div class="progress-indicator">
                <ion-progress-bar
                  *ngFor="let item of story_adds; let i = index"
                  [value]="(i === slideIndex) ? progress : 0"
                  [class.active]="i === slideIndex"
                ></ion-progress-bar>
              </div>
            </header>
            <img [src]="item.url" alt="" />

            <section class="information">
              <div class="actions">
                <ion-icon name="heart-outline"></ion-icon>
                <ion-icon name="download-outline"></ion-icon>
              </div>

              <header class="second">
                <figure class="logo">
                  <span></span>
                  <!-- src="/assets/icon/apprecioRed.png"  -->
                  <img [src]="item.company.logo" alt="" />
                </figure>
                <article>
                  <h2>Super Pollo</h2>
                  <h5>
                    Apprecio Play
                    <ion-icon name="send"></ion-icon>
                  </h5>
                </article>

                <button>Ir al programa</button>
              </header>
              <article class="description">
                <p
                  [ngClass]="{'more100': item.desctiption | lengthTextRegulation, 'active': flag_showMore}"
                >
                  {{item.desctiption}}
                </p>
                <a
                  *ngIf="item.desctiption | lengthTextRegulation"
                  class="showMore"
                  (click)="flag_showMore = !flag_showMore"
                >
                  <span *ngIf="flag_showMore ; else tempElse">Ver más</span>
                  <ng-template #tempElse>Ver menos</ng-template>
                </a>
                <a href=""></a>
              </article>
            </section>
          </section>
          <section *ngSwitchDefault><h1>Other</h1></section>
        </ng-container>
      </div>
    </div>
  </div>
  <ion-button (click)="initSlide()" expand="block" fill="clear" shape="round">
    initSlide
  </ion-button>
  <ion-button (click)="onTest()" expand="block" fill="clear" shape="round">
    onTest
  </ion-button>
</ion-content>
