<div class="story">

  <div class="story__slider swiper">
    <div class="story__wrapper swiper-wrapper">
      <div class="story__slide swiper-slide">
        <img src="https://picsum.photos/450/800" />
      </div>
      <div class="story__slide swiper-slide">
        <video autoplay muted>
          <!-- May not work in the future, just change source -->
          <source src="https://exit109.com/~dnn/clips/RW20seconds_1.mp4#t=.1" type="video/mp4">
        </video>
      </div>
      <div class="story__slide swiper-slide">
        <img src="https://picsum.photos/450/810" />
      </div>
    </div>

    <div class="story__next swiper-button-next"></div>
    <div class="story__prev swiper-button-prev"></div>

    <div class="story__pagination swiper-pagination"></div>
  </div>
</div>
