<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tab7</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-button (click)="onConfetti()" expand="block" fill="clear" shape="round">
        Click me
      </ion-button>
    </ion-row>
  </ion-grid>
  <ngx-particles
    [id]="id"
    [options]="particlesOptions"
    (particlesLoaded)="particlesLoaded($event)"
  ></ngx-particles>

  <!-- or -->

  <ngx-particles
    [id]="id"
    [url]="particlesUrl"
    (particlesLoaded)="particlesLoaded($event)"
  ></ngx-particles>

</ion-content>
