/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "~animate.css/animate.min.css";

.swiper-button-next.custom,
.swiper-button-prev.custom {
  color: #FA345D;
  background: #0000005c;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: orange;
  opacity: 1;
  background: green !important;
}
.swiper-pagination-bullet-active {
  color: yellow !important;
  background: #d900ff !important;
}

.swiper-scrollbar {
  height: 4px !important;
  background: red !important;
  border-radius: 50% !important;
}
.swiper-scrollbar-drag {
  background: #fff !important;
  border-radius: 50% !important;
}

.swiper-pagination.sub-carousel {
  background-color: #fff;
  border-radius: 8px;
  padding: 4px 8px;
  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
    background-color: #fa345d !important;
  }
}

//! NEW SWIPER - SCROLL
:host ::ng-deep .swiper-scrollbar {
  position: absolute;
  bottom: -2rem;
}

:host ::ng-deep .swiper-scrollbar.swiper-scrollbar-horizontal {
  height: 0.65rem;
}

:host
  ::ng-deep
  .swiper-scrollbar.swiper-scrollbar-horizontal
  .swiper-scrollbar-drag {
  background: navy;
  height: 0.5rem;
  padding: 0.1rem;
}

/* //! Previous and Next buttons */

.swiper-button-prev,
.swiper-button-next {
  background-color: navy;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.swiper-button-prev {
  left: 2rem;
  right: auto;
}

.swiper-button-next {
  right: 2rem;
  left: auto;
}

@media (min-width: 640px) {
  .swiper-button-prev,
  .swiper-button-next {
    padding: 1rem;
  }

  .swiper-button-prev {
    left: 10rem;
  }

  .swiper-button-next {
    right: 10rem;
  }
}
